@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700;800&display=swap');

@font-face {
    font-family: 'mk-reg';
    src: url(Mk-Regular.ttf);
}

/* New color palette */
/* --------------------------------------------------- */
:root {
    --mainBgColor: #146c78;
    --mainHeadingFontColor: #78c992;
    --textShadowColor: #4a9e86;
    --bodyFontColor: #202121;
    --contBorderColor: #202121;
    --contBgColor: #4a9e86;
    --tableBorderColor: #358e9a;
    --tableBgColor: #78c992;
    --tableFontColor: #551a8b;
    --inputBgColor: #f1f1f1;
    --btnFontColor: #202121;
    --btnBgColor: #358e9a;
    --autoCompBgColor: #f1f1f1;
    --autoCompBorderC: #d4d4d4;
    --autoCompBgColorH: #e9e9e9;
    --autoCompBgColorA: #78c992;
    --autoCompFontColor: #f1f1f1;
    --checkedBgColor: #8ecdbb;
}

/* --------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* background-color: #b2ff59; */
    background-color: var(--mainBgColor);
    color: var(--bodyFontColor);
    font-family: 'mk-reg';
    font-size: 25px;
}

h1 {
    font-family: 'mk-reg';
    font-weight: 800;
    text-align: center;
    font-size: 50px;
    color: var(--mainHeadingFontColor);
    text-shadow: 2px 2px var(--textShadowColor);
}

#container {
    /* white-space: pre-wrap; */
    margin: 30px;
    /* border: 2px solid var(--contBorderColor); */
    background-color: var(--contBgColor);
    text-align: center;
    /* display: flow-root; */
    /* padding: 10px; */
    border-radius: 7px;
    white-space: nowrap;
    /* overflow-x: scroll; */
}

/* Scrollbar design */
/* --------------------------------------------------- */
#container {
    scrollbar-width: thin;
    scrollbar-color: #181818 transparent;
}

#container:-webkit-scrollbar {
    width: 11px;
}

#container:-webkit-scrollbar-track {
    background: transparent;
}

#container:-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 6px;
    border: 3px solid transparent;
}

/* webkit browsers */
#container::-webkit-scrollbar,
#container::-webkit-scrollbar-thumb {
    height: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

#container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

/* --------------------------------------------------- */

/* Empty container with padding and scrollbar appeared w/o this
Needed to provide those once there's some content */
/* --------------------------------------------------- */
.dynCont {
    padding: 10px;
    overflow-x: scroll;
    border: 2px solid var(--contBorderColor);
}

/* --------------------------------------------------- */

table,
th,
td {
    border: 2px solid var(--tableBorderColor);
    padding: 7px;
    margin: 20px auto;
    /* display: block; */
    /* width: 100%; */
    overflow: auto;
    background-color: var(--tableBgColor);
    color: var(--tableFontColor);
    /* font-family: 'Karla'; */
    /* font-weight: 400; */
    font-size: 25px;
    /* border-collapse: collapse; */
    border-radius: 5px;
}

.inputText {
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
}

input {
    margin: 10px 15px 0px 15px;
    /* border: 5px solid royalblue; */
    border: none;
    border-radius: 3px;
    padding: 7px;
    background-color: var(--inputBgColor);
    /* >>>Required for dark mode */
    color: var(--inputFontColor);
    /* font-size: 16px; */
    /* background-color: #C7BE92; */
    /* border: 1px solid transparent; */
}

/* /Dark mode 1/0 */
/* --------------------------------------------------- */
.linkrow {
    color: var(--tableFontColor);
}

/* --------------------------------------------------- */

.btn {
    margin: 5px 15px;
    border-radius: 5px;
    border: none;
    /* font-family: 'Karla'; */
    font-style: normal;
    /* font-weight: 600; */
    padding: 10px 13px;
    /* font-size: 18px; */
    line-height: 24px;
    color: var(--btnFontColor);
    /* color: #EEEEEE; */
    /* background-color: #b2ff59; */
    background-color: var(--btnBgColor);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.2);
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    /* margin: 0px 15px; */
    /* text-align: center; */
}

.autocomplete-items {
    position: absolute;
    border: 1px solid var(--autoCompBorderC);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    margin: 0px 15px;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--autoCompBgColor);
    border-bottom: 1px var(--autoCompBorderC);
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: var(--autoCompBgColorH);
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--autoCompBgColorA) !important;
    color: var(--autoCompFontColor);
}

/* Checkbox alignment */
/* --------------------------------------------------- */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------- */

.inputCont {
    margin: 10px;
    /* border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* Alignment of the i/ps in the center/h */
/* --------------------------------------------------- */
.outerInputDiv {
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
}

/* --------------------------------------------------- */

input[type='checkbox'] {
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}

input:checked+label {
    background-color: var(--checkedBgColor);
}


.file {
    width: 20rem;
    display: none;
}

.fileadd {
    cursor: pointer;
}

/* Scroll-to-top button */
/* --------------------------------------------------- */
.goTo-top-btn {
    background: var(--autoCompBgColorA);
    position: fixed;
    bottom: 16px;
    right: 48px;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 32px;
    color: var(--mainBgColor);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.fas {
    margin-top: 4px;
}

.goTo-top-btn.active {
    bottom: 55px;
    pointer-events: auto;
    opacity: 1;
}

/* --------------------------------------------------- */

/* Dark mode c */
/* --------------------------------------------------- */
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.toggleContainer {
    width: 40px;
}

body {
    background-color: var(--mainBgColor);
    transition: background-color .3s;
}

body[light-mode=dark] {
    color: #e1e1e1;
    --mainBgColor: #121212;
    --mainHeadingFontColor: #78c992;
    --textShadowColor: #4a9e86;
    --bodyFontColor: #202121;
    --contBorderColor: #202121;
    --contBgColor: #191919;
    --tableBorderColor: #232727;
    --tableBgColor: #121212;
    --tableFontColor: #e1e1e1;
    --inputBgColor: #1d1d1d;
    --btnFontColor: #202121;
    --btnBgColor: #358e9a;
    --autoCompBgColor: #1d1d1d;
    --autoCompBorderC: #404A47;
    --autoCompBgColorH: #404A47;
    --autoCompBgColorA: #404A47;
    --autoCompFontColor: #e1e1e1;
    --checkedBgColor: #404A47;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
    background-color: #ced4e2;
    color: #141516;
}

body[light-mode=dark] .light-mode-button span:nth-child(2) {
    left: 20px;
    background-color: #141516;
}

/* Light Mode Button Styles
--------------------------- */
.light-mode-button {
    background: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 10px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
}

.light-mode-button:focus {
    outline: none;
    /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

.light-mode-button span:nth-child(2) {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

/* --------------------------------------------------- */

/* Alert code */
/* --------------------------------------------------- */
body[light-mode=dark] .alert {

    padding: 10px;
    background-color: #358e9a;
    color: #202121;
    width: 50%;
    margin: auto;
}

.alert {
    padding: 10px;
    background-color: #78c992;
    color: #202121;
    width: 50%;
    margin: auto;
    border-radius: 3px;
}

.hide {
    display: none;
}

.showalert {
    display: block;
}

.closebtn {
    margin-left: 15px;
    color: #202121;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #202121;
}

/* --------------------------------------------------- */
