@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700;800&display=swap');

:root {
    --mainBgColor: #ffc400;
    --mainHeadingFontColor: #C7BE92;
    --textShadowColor: #6e6659;
    --bodyFontColor:#202121;
    --contBorderColor:#202121;
    --contBgColor:teal;
    --tableBorderColor:#6e6659;
    --tableBgColor:wheat;
    --tableFontColor:teal;
    --inputBgColor:#f1f1f1;
    --btnFontColor: #202121;
    --btnBgColor: #C7BE92;
    --autoCompBgColor: #fff;
    --autoCompBorderC: #d4d4d4;
    --autoCompBgColorH: #e9e9e9;
    --autoCompBgColorA: teal;
    --autoCompFontColor: white;
    --checkedBgColor:#ffc400;
}
html 
{
    scroll-behavior: smooth;
}
  body {
    margin: 0;
    /* background-color: #b2ff59; */
    background-color: var(--mainBgColor);
    color: var(--bodyFontColor);
    font-family: 'Karla';
}

h1 {
    font-family: 'Karla';
    font-weight: 800;
    text-align: center;
    font-size: 50px;
    color: var(--mainHeadingFontColor);
    text-shadow: 2px 2px var(--textShadowColor);
}

#container {
    /* white-space: pre-wrap; */
    margin: auto;
    /* border: 2px solid var(--contBorderColor); */
    background-color: var(--contBgColor);
    text-align: center;
    /* display: flow-root; */
    /* padding: 10px; */
    border-radius: 7px;
    white-space: nowrap;
    /* overflow-x: scroll; */
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.dynCont{
    padding: 10px;
    overflow-x: scroll;
    border: 2px solid var(--contBorderColor);
}

table,
th,
td {
    border: 1px solid var(--tableBorderColor);
    padding: 7px;
    margin: 20px;
    /* display: block; */
    /* width: 100%; */
    overflow: auto;
    background-color: var(--tableBgColor);
    color: var(--tableFontColor);
    font-family: Karla;
    font-weight: 400;
    font-size: large;
}

.inputText {
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
}

input {
    margin: 10px 15px 0px 15px;
    /* border: 5px solid royalblue; */
    border:none;
    border-radius: 3px;
    padding: 7px;
    background-color: var(--inputBgColor);
    font-size: 16px;
    /* background-color: #C7BE92; */
    /* border: 1px solid transparent; */
}

.btn {
    margin: 5px 15px;
    border-radius: 5px;
    border: none;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 24px;
    color: var(--btnFontColor);
    /* color: #EEEEEE; */
    /* background-color: #b2ff59; */
    background-color: var(--btnBgColor);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.2);
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    /* margin: 0px 15px; */
    /* text-align: center; */
}

.autocomplete-items {
    position: absolute;
    border: 1px solid var(--autoCompBorderC);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    margin: 0px 15px;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--autoCompBgColor);
    border-bottom: 1px var(--autoCompBorderC);
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: var(--autoCompBgColorH);
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--autoCompBgColorA) !important;
    color: var(--autoCompFontColor);
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputCont {
    margin: 10px;
    /* border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.outerInputDiv{
  margin: 1rem;
  padding: 1rem 1rem;
  text-align: center;
}

input[type='checkbox']{
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}

input:checked+label {
    background-color: var(--checkedBgColor);
}

.goTo-top-btn {
    background: var(--autoCompBgColorA);
    position: fixed;
    bottom: 16px;
    right:48px;
    width:50px;
    height:50px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; 
    font-size:32px;
    color:var(--mainBgColor);
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
  .fas
  {
    margin-top: 4px;
  }
  .goTo-top-btn.active {
    bottom:55px;
    pointer-events: auto;
    opacity:1;
  }
  /* input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
} */

/* input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
} */

/* input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
} */ 

/* .clearBtn,{
    background-color: #C7BE92;
} */

/* .blocks {
    border:1px solid #EEEEEE;
    width: 500px;
    margin: 5px auto;
    padding: 10px;
    background-color: #6e6659;
    border-radius: 10px;
    font-weight: bold;
} */

/* * {
    box-sizing: border-box;
} */

/* .readBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
} */

/* .ct {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 24px;
    color: #202121;
    color: #EEEEEE;
    background-color: #b2ff59;
    background-color: #C7BE92;
    cursor: pointer;
} */

/* textarea {
    margin: 30px auto;
    display: block;
    height: 150px;
    width: 500px;
    background-color: #6e6659;
    color: #202121;
    border: none;
    border-radius: 3px;
    padding: 7px;
} */
